.blog-container {
    margin: 3% auto auto auto; 
}

.card-block {
    float: left;
}

.image-container {
    max-width: 20%;
}

.image-container > img {
    width: 100%;
    height: 100%;
}

.card-details {
    text-align: left;
}
